// .app {
//   text-align: center;
//   background-color: red;
//   .app-menu {
//     color: #61dafb;
//   }
// }
:local(.app) {
  text-align: center;
  background-color: red;
  .app-menu {
    color: #61dafb;
  }
}